@import "../node_modules/tailwindcss/base.css";
@import "../node_modules/tailwindcss/components.css";
@import "../node_modules/tailwindcss/utilities.css";
@import "./typography";

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

/** No wrap */
.noWrap {
  white-space: nowrap;
}

/** Section loaders **/
.loader-container {
  height: 200px;
  width: 200px;
}

.loader {
  animation: loader 3s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
