@import "../node_modules/tailwindcss/base.css";
@import "../node_modules/tailwindcss/components.css";
@import "../node_modules/tailwindcss/utilities.css";
@import "./typography";

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

/** No wrap */
.noWrap {
  white-space: nowrap;
}
